main {
  display: flex;
  justify-content: center;
}

footer > p {
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
grid-gap: 10px;
}